:root{
    --bg-color: #0f0f0f;
    --main-color: #FF0000;
    --w-color:#ffffff;
}
.p-1r{
    margin: 0 1rem;
}
.main-page-h{
    display: flex;
    flex-direction: column;
}
.body-h{
    display: flex;
    height: 100%;
}
.left-h{
    background-color:var(--bg-color);
    height:calc(100vh - 3.5rem);
    width: 16rem;
    padding-top: 0.5rem;
    position: relative;
    display: inline;
    flex-direction: column;
    position: static;
    overflow-y: scroll;
    
}
.left-h::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .left-h::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .left-h::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .left-h:hover::-webkit-scrollbar-thumb{
    background: rgb(125, 125, 125); 
    
  }
.box-icon{
    width: calc(100% - 2rem);
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 20px;
    border-radius: 10px;
    gap: 1rem;
    color: #ffffff;
    cursor: pointer;
}
.box-icon .s-f{
    font-size: 16px;
    font-weight: 400;
}
.box-icon:hover{
    background-color: rgba(63, 63, 63, 0.4);
}
.line{
    width: 100%;
    height: 2px;
    position:relative ;
    left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(63, 63, 63, 0.4);
}
.sub-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: contain;
}




/* Top */
.top-h{
background-color: var(--bg-color);
width: 100%;
height: 3rem;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 0.5rem;
font-size: 18px;
color: white;
}
.box-lr{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.box-l{
    background-color: blue;
    width: 2.5rem;
    height: 100%;
}
.left-click,.right-click{
display: flex;
height: 100%;
width: 2rem;
align-items: center;
justify-content: center;
}
.right-click{
    flex-direction: row-reverse;
    justify-content: center;
}
.box-i{
    background-color: rgb(193, 193, 193,0.4);
    width: max-content;
    white-space: nowrap;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    word-wrap: normal;
    font-size: 14px;
    z-index: 1;
}
.f-w-400{
    font-weight: 400;
}
.center-contien{
    width: 75rem;
}
.center-contien::-webkit-scrollbar{
    display: none;
}