:root{
    --bg-color: #0f0f0f;
    --main-color: #FF0000;
    --w-color:#ffffff;
}
.main-navber{
    background-color: var(--bg-color);
    display: flex;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--w-color);
    font-size: 20px;
}
.left-navber{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.center-navber{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.search-input{
    /* background-color: red; */
    display: flex;
    width: 30rem;
    justify-content: center;
    align-items: center;
}
.search-input input{
    width: 87%;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 18.82%);
    outline: none;
    border-radius: 20px 0 0 20px;
    padding: 0 1rem;
    font-size: 16px;
    color: hsl(0, 0%, 18.82%);
}
.search-input .icon-search{
    background-color: hsl(0, 0%, 1.82%);
    display: flex;
    padding: 0 1.1rem;
    width: 13%;
    height: 2.5rem;
    border-radius: 0 20px 20px 0;
    border: 1px solid hsl(0, 0%, 18.82%);
    cursor: pointer;
}
.icon-audio{
    width: 2.5rem;
    padding: 0 0.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s;
}
.icon-audio:hover{
    background-color: red;
}
.right-navber{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.avata{
    background-color: #ffffff;
    width: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    height: 2.5rem;
}
.c-pointer{
    cursor: pointer;
}