:root{
    --bg-color: #0f0f0f;
    --main-color: #FF0000;
    --w-color:#ffffff;
}
.main-vd{
    background-color: var(--bg-color);
    width: 100%;
    height:calc(100vh - 6.5rem);
    padding: 2rem 6rem 0rem 6rem;
    overflow-y: scroll;
}
.body-vd{
    width: calc(100%);
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}
.item-vd{
    width: 22rem;
    height: 20rem;
    cursor: pointer;
}
.img-vd{
    width: 100%;
    height: 12rem;
    background-color: saddlebrown;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.img-vd:hover{
    border-radius: 0;
}
.ch-img{
    width: 2rem;
    top:2rem;
    border-radius: 100%;
    height: 2rem;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center;
    background-color: aqua;
}
.info-vd{
    width: 20rem;
    margin: 0 1rem;
    color: white;
    font-size: 16px;
    padding: 0.5rem 0;
    line-height: 20px;
}
.main-vd::-webkit-scrollbar{
    /* display: none; */
}
.main-vd::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .main-vd::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .main-vd::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .main-vd:hover::-webkit-scrollbar-thumb{
    background: rgb(125, 125, 125); 
    
  }